*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

/* colors */
:root{
        --un-color: #0a369d;
        --deux-color: #4472ca;
        --trois-color: #5e7ce2;
        --quatre-color: #92b4f4;
        --cinq-color: #cfdee7;
        --six-color: #edf2f4;
}


/* footer section */

footer{
    width: 100%;
    /* position: absolute; */
    bottom: 0;
    background: linear-gradient(to right, var(--un-color), var(--deux-color));
    color: var(--six-color);
    padding: 40px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}

.rows{
    width: 89%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.cols {
    flex-basis: 25%;
    padding: 10px;
}

.cols:nth-child(2), .cols:nth-child(3){
    flex-basis: 11%;
}

.logo1{
    width: 30%;
    margin-bottom: 30px;
}

.cols .ach1{
    width: fit-content;
    font-size: 1.5rem;
    margin-top: 50px;
    margin-bottom: 40px;
    position: relative;
}

.underline{
    width: 100%;
    height: 5px;
    background: var(--six-color);
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}

.cols p{
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.underline span{
    width: 15px;
    height: 100%;
    background: var(--deux-color);
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}

.email-id{
    width: fit-content;
    border-bottom: 1px solid var(--six-color);
    margin: 20px 0;
}

ul li{
    list-style: none;
    margin-bottom: 12px;
}

ul li a{
    text-decoration: none;
    color: var(--cinq-color);
    font-size: 15px;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.forrm{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--six-color);
    margin-bottom: 50px;
}

.forrm .fa-regular{
    font-size: 18px;
    margin-right: 10px;
}

.forrm input{
    width: 100%;
    background: transparent;
    color: var(--six-color);
    border: 0;
    outline: none;
}

input::placeholder {
    color: var(--six-color);
  }

.forrm button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

.forrm button .fas{
    font-size: 19px;
    color: var(--cinq-color);
    transition: .2s;
}

.forrm button .fas:hover{
    color: var(--six-color);
}

.socialrx .fab{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding-right: .1cm;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: var(--un-color);
    background: var(--cinq-color);
    margin-right: 15px;
    cursor: pointer;
    transition: .3s;
}

.socialrx .fab:hover{
    background: var(--un-color);
    color: var(--cinq-color);
}

hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid  var(--six-color);
    margin: 20px auto;
}

.copyright{
    text-align: center;
    font-weight: 800;
    
}

.github{
    color: #fff;
}

@media (max-width: 700px) {
    footer{
        bottom: unset;
    }

    .cols {
        flex-basis: 100%;
    }
    
    .cols:nth-child(2), .cols:nth-child(3){
        flex-basis: 100%;
    }
    
    .copyright{
        font-size: 10px;
        font-weight: 500;   
    }
}

/* links hover */

#l7ma9 a {
    overflow: hidden;
    position: relative;
    display: inline-block;
  }
  
#l7ma9 a::before,
#l7ma9 a::after {
   content: '';
    position: absolute;
    width: 100%;
    left: 0;
  }
#l7ma9 a::before {
    background-color: var(--six-color);
    height: 2px;
    bottom: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  }
#l7ma9 a::after {
    content: attr(data-replace);
    height: 100%;
    top: 0;
    transform-origin: 100% 50%;
    transform: translate3d(200%, 0, 0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
    color: var(--six-color);
  }
  #l7ma9  a:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
  }
#l7ma9 a:hover::after {
    transform: translate3d(0, 0, 0);
  }
  
#l7ma9 a span {
    display: inline-block;
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  }
#l7ma9  a:hover span {
    transform: translate3d(-200%, 0, 0);
  }
