@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* colors */
:root{
        --un-color: #0a369d;
        --deux-color: #4472ca;
        --trois-color: #5e7ce2;
        --quatre-color: #92b4f4;
        --cinq-color: #cfdee7;
        --six-color: #edf2f4;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(rgb(207 222 231 / 0%), rgb(68 114 202 / 50%));
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(rgb(207 222 231 / 100%), rgb(68 114 202 / 100%));
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

::selection {
    background-color: var(--quatre-color);
    color: var(--six-color);
}

html{
    font-size: 62.5%;
}


body {
    overflow-x: hidden;
    background: var(--six-color);
    font-family: 'Poppins', sans-serif;
    color: var(--un-color);
}

.header{
    position: fixed;
    background-color: transparent;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 7%;
    display: flex;
    align-items: center;
    z-index: 100;
    transition: .5s;
}

#menu{
    font-size: 3rem;
    color: var(--un-color);
    display: none;
    transition: 0.3s;
}

#menu:hover{
    color: var(--quatre-color);
}

.header.scrolled{
    background: var(--six-color);
    box-shadow: 0 .1rem 1rem var(--quatre-color);
    
}

.logo{
    margin-right: auto;
    font-family: 'Abril Fatface', cursive;
    font-size: 2.9rem;
    font-weight: 300;
    letter-spacing: 1px;
    color: var(--un-color);
    cursor: default;
}
.logo span {
    color: var(--trois-color);
}

i {
    color: var(--un-color);
    font-size: 1.75rem;
    font-weight: 900;
    padding-left: 5px;
}


/* navbar style */

.navbar a {
    font-size: 1.6rem;
    margin: 0 1rem;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 650;
    letter-spacing: .5px;
    color: var(--un-color);
    transition: color .3s ease-in-out, .3s ease-in-out;
    opacity: 0.9;
    border-radius: 10px;
}
.navbar a:hover{
    box-shadow: inset 0 -100px 0 0 var(--deux-color);
    color: var(--six-color);
    padding: 0.5rem;
}



/* content */

.container {
    position: relative;
    width: 100%;
    max-width: 75rem;
    pad: 0 1.5rem;
    margin: 0 auto;
}

.showcase-area {
    padding: 50px 0;
    width: 100%;
    overflow: hidden;
}

.showcase-area .container {
    display: grid;
    height: 600px;
    align-items: center;
    margin-left: 1.85cm;
    margin-top: .75cm;
}

.sub-heading {
    color: var(--trois-color);
    text-transform: uppercase;
    font-size: 1.3em;
    letter-spacing: 0.5px;
    margin-bottom: 1rem;
    font-weight: 700;
    cursor: default;
}

.heading{
    color: var(--un-color);
    font-size: 3.8rem;
    font-family: "Abril Fatface" cursive;
    line-height: 1.3;
    cursor: default;
}

.text {
    color: black;
    font-size: 1.85rem;
    margin: 0;
    cursor: default;
}

.showcase-area .sub-heading {
    margin-bottom: .5rem;
}

.showcase-area .heading {
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
}

.showcase-area .text {
    margin: 1.8rem 0;
}

.cta {
    margin-top: 2.75rem;
    display: flex;
    align-items: center;
}

.cta .btn {
    margin-right: 1.85rem;
}


.btn {
    display: inline-block;
    padding: 1.5rem 1.75rem;
    border-radius: 17px;
    background-color: var(--un-color);
    color: var(--six-color);
    font-size: 1.7rem;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    transition: 0.4s;
    font-weight: 500;
    box-shadow: 0 .2rem .5rem var(--deux-color);
}


.btn:hover {
    background-color: var(--cinq-color);
    color: var(--un-color);
    font-weight: 500;
    padding: -100px 0;
}


.second-btn {
    position: relative;
    background-color: transparent;
    color: var(--un-color);
    font-weight: 600;
    font-size: 1.7rem;
    letter-spacing: 0px;
    border-bottom: 2.5px solid;
    border-radius: 0px;
    padding: .15rem 0;
}

.second-btn::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2.5px;
    bottom: -2.5px;
    left: 0;
    background-color: var(--cinq-color);
    transition: .3s ease-in-out;
}


.second-btn:hover::before {
    width: 100%;
}


#home .pic-container{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 768px;
    height: 768px;
    overflow: hidden;
    pointer-events: none;
}

.container .img{
    position: absolute;
    left: 20cm;
    top: -1.5cm;
    bottom: 3cm;
    right: 0;
    width: 90%;
    pointer-events: none;
}

.container .programming{
    position: relative;
    width: 80%;
    min-height: calc(100% + 120px);
    border-radius: 125px;
    padding: 110px;
    margin-left: -.5cm;
}


/* work */

.work{
    overflow: hidden;
    padding-bottom: 100px;
}

.work-box{
    padding: 5rem 6rem;
    margin-left: 1.5cm;
}

.box-desc{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    column-gap: 19rem;
}

#btn-hire{
    margin-right: 3cm;
    margin-bottom: .5cm;
}

/* work */

.heading-service {
    color: var(--un-color);
    font-family: "Abril Fatface" cursive;
    line-height: 1.3;
    font-size: 3rem;
    cursor: default;
}

.text-work{
    color: black;
    font-size: 1.2rem;
    margin: 1.3rem 0;
    font-size: 1.85rem;
    cursor: default;
}

.image-container {
    margin-top: -10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.image1 {
    max-width: 70%;
    max-height: 70%;
    border-radius: 20px;
}

.image2 {
    max-width: 60%;
    max-height: 60%;
    margin-left: 10rem;
    border-radius: 20px;
}

/* contact me  mail*/

.contact-me {
    padding: 50px 0;
    width: 100%;
    overflow: hidden;
}

.mail {
    color: var(--trois-color);
    font-weight: 500;
    font-size:1.75rem;
}

.mail i{
    display: inline-block;
    font-size: 2rem;
    margin-left: -2px;
    transform: translateY(3px);
    transition: 0.3s margin-left;
    color: var(--trois-color);
}

.mail:hover{
    color: var(--un-color);
}

.mail:hover i{
    margin-left: 10px;
    color: var(--un-color);

}

.contact-me .sub-heading {
    margin-bottom: 0.3rem;
}

.contact-me .heading {
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
}

.contact-me .text {
    margin: 0.8rem 0;
}

/* contact me */
.container-chat{
    margin-left: 1cm;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
}

.contact-chat{
    margin-top: 2cm;
}

.mail {
    color: var(--trois-color);
    font-weight: 500;
    font-size: 2rem;
}

.mail i{
    display: inline-block;
    font-size: 2.5rem;
    margin-left: -2px;
    transform: translateY(3px);
    transition: 0.3s margin-left;
    color: var(--trois-color);
}

.mail:hover{
    color: var(--un-color);
}

.mail:hover i{
    margin-left: 10px;
    color: var(--un-color);

}

.contact-chat{
    padding-left: 20px;
}

.heading-chat  {
    color: var(--un-color);
    font-family: "Abril Fatface" cursive;
    line-height: 1.3;
    font-size: 3rem;
    cursor: default;
}

.text-chat{
    color: black;
    font-size: 1.2rem;
    margin: 1.3rem 0;
    font-size: 1.8rem;
    cursor: default;
}

/* form */

.contact-form{
    background-color: var(--cinq-color);
    padding: 5.5rem 7rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin-bottom: 1.5cm;
    margin-top: -1cm;
    margin-left: 1.5cm;
}

.contact-form h3{
    color: var(--un-color);
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
    line-height: 0.9;
    padding-left: 25%;
    cursor: default;
}

.form-input {
    display: inline-block;
    padding: 1.5rem 1.85rem;
    width: 120%;
    margin-left: -1cm;
    background: var(--six-color);
    border: 2px solid var(--six-color);
    border-radius: 13px;
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--un-color);
    outline: none;
    transition: .3s;
}

.contact-form .form-input{
    margin-bottom: 1.3rem;
}


.form-input::placeholder{
    color: var(--quatre-color);
}

.form-input:focus{
    filter: brightness(100%);
    background-color: var(--six-color);
    border-color: var(--un-color);
}


.form-input:hover{
    filter: brightness(97%);

}


textarea.form-input{
    resize: none;
    min-height: 170px;
}


.btn-work{
    width: 120%;
    margin-left: -1cm;
    display: block;
    padding: 1.75rem 1.8rem;
    border-radius: 17px;
    background-color: var(--un-color);
    color: var(--six-color);
    font-size: 1.85rem;
    font-weight: 600;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    transition: 0.3s;
    border: 2px solid var(--un-color);
    cursor: pointer;
}

.btn-work:hover {
    background-color: var(--six-color);
    color: var(--un-color);
    border: 2px solid var(--un-color);
}


/* footer */




/* media */

@media (max-width: 768px){

     #menu{
        display: block;
    }

    .showcase-info {
        left: 0 auto;
        padding-right: 7cm;
    }

    .navbar{
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 10%;
    }

    .navbar a{
        display: block;
        font-size: 1.5rem;
        margin: 3rem auto;
        color: var(--un-color);
    }

    .navbar a:hover{
        color: var(--six-color);
        padding: .75rem;
    }

    .navbar.active{
        display: block;
    }
    

    .container .img{
        display: none;
    }
    
    #home{

        justify-content: center;
        text-align: center;
    }

    .showcase-info{
        width: 100%;
        margin-left: 2.5cm;
        margin-top: 1cm;
        font-size: 2.5rem;
    }

    .sub-heading{
        font-size: 1.3rem;
    }

    .heading h1{
        font-size: 4rem;
    }

    .cta {
        margin-top: 3.75rem;
        align-items: center;
        justify-content: center;
    }
    
    .cta .btn {
        margin-right: 2rem;
    }
    
    
    .btn {
        display: inline-block;
        padding: 1.5rem 1.75rem;
        font-size: 1.7rem;
        letter-spacing: 0.4px;
        font-weight: 500;
    }

    div.work-box{
        margin-left: 1cm;
        padding-left: 1cm;
    }
    
    #about{
        margin-top: -2cm;
    }

    .image-container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
        width: 100%;
        margin-bottom: 3cm;
    }

    .mail{
        font-size: 1.85rem;
        font-weight: 400;
    }

    .container-chat{
        display: contents;
    }

    div.contact-chat{
        margin-bottom: 3cm;
        margin-top: -2cm;
    }

    .contact-form{
        padding: 2.5rem 8rem;
        width: 90%;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        margin-bottom: 1.5cm;
        margin-left: 1cm;
    }

    .form-input {
        width: 110%;
        margin-left: -.75cm;
    }

    .contact-form .form-input{
        margin-bottom: 1.7rem;
    }
    
    .btn-work{
        width: 110%;
        margin-left: -.75cm;;
    }

}

@media (max-width: 617px) {
    #menu{
        display: block;
    }

    .showcase-info {
        margin-left: 0px;
        padding-right: 3cm;
        margin-bottom: 3cm;
    }

    .navbar{
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 10%;
        background-color: var(--cinq-color);
        border-top: .1rem solid var(--un-color);
        box-shadow: 0 .5rem 1rem rgba(0,0, 0, .2);
    }

    .navbar a{
        display: block;
        font-size: 1.5rem;
        margin: 3rem auto;
        color: var(--un-color);
    }

    .navbar a:hover{
        color: var(--six-color);
        padding: .75rem;
    }

    .navbar.active{
        display: block;
    }
    

    .container .img{
        display: none;
    }   

    .showcase-info{
        width: 100%;
        margin-left: .1cm;
        margin-top: 1cm;
        font-size: 2.5rem;
    }

    .sub-heading{
        font-size: 1.3rem;
    }

    .heading h1{
        font-size: 4rem;
    }

    .cta {
        margin-top: 3.75rem;
        align-items: center;
        justify-content: center;
    }
    
    .cta .btn , .second-btn{
        margin-right: 3.75rem;
        font-size: 1.4rem;
    }
    

    div.work-box{
        margin-top: -2cm;
        margin-bottom: .5cm;
        width: 120%;
    }

    #btn-hire{
        position:absolute;
        margin-left: 8cm;
        margin-top: 4.5cm;
        font-size: 1.4rem;
    }

    .image-container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 41vh;
        width: 100%;
        margin-bottom: 2cm;
    }

    .image2{
        margin-left: 3cm;
    }

    .mail{
        font-size: 1.85rem;
        font-weight: 400;
    }

    .container-chat{
        display: contents;
    }

    div.contact-chat{
        margin-bottom: 3cm;
        margin-top: -2cm;
        margin-left: .75cm;
    }

    .contact-form{
        margin-left: 39px;
        width: 90%;
        border-radius: 20px;
        margin-bottom: 1.5cm;

    }

    .form-input {
        width: 110%;
        margin-left: -.75cm;
    }

    .contact-form .form-input{
        margin-bottom: 1.7rem;
    }
    
    .btn-work{
        width: 110%;
        margin-left: -.75cm;;
    }
}

@media (max-width: 450px) {
    #menu{
        display: block;
    }

    .navbar a{
        display: block;
        font-size: 1.5rem;
        margin: 3rem auto;
        color: var(--un-color);
    }

    .container .img{
        display: none;
    }   

    .showcase-info{
        width: 100%;
        margin-right: 5cm;
        margin-left: -1cm;
        margin-top: 1cm;
        font-size: 2.5rem;
    }

    .sub-heading{
        font-size: 1.3rem;
    }

    .heading h1{
        font-size: 4rem;
    }

    .cta {
        margin-top: 2.75rem;
        align-items: center;
        justify-content: center;
    }
    
    .cta .btn , .second-btn{
        margin-right: 2.75rem;
        font-size: 1.3rem;
    }
    

    div.work-box{
        margin-top: -3cm;
        margin-bottom: .5cm;
    }

    div .box-desc .text-work{
        margin-left: -1.4cm;
    }

    .btn#btn-hire{
        width: 21%;
        left: 0.01cm;
        font-size: 1rem;
        margin-left: 8.5cm;
        margin-top: .3cm;
        font-size: 1.4rem;
    }

    .image-container{
        height: 31vh;
        width: 100%;
        margin-bottom: 2cm;
        margin-top: -3cm;
    }

    .image2{
        margin-left: 25px;
    }

    .mail{
        font-size: 1.85rem;
        font-weight: 400;
    }

    .container-chat{
        display: contents;
    }

    div.contact-chat{
        margin-bottom: 3cm;
        margin-top: -2cm;
        margin-left: -.1cm;
    }

    .contact-form{
        margin-left: 29px;
        
    }

    .form-input {
        width: 150%;
        margin-left: -1.4cm;
    }

    .contact-form .form-input{
        margin-bottom: 1.7rem;
    }
    
    .btn-work{
        width: 120%;
        margin-left: -.75cm;;
    }
    .contact-form h3{
        font-size: 1.8rem;
        font-weight: 600;
        padding-left: 10%;
    }

    .btn-work{
        width: 150%;
        margin-left: -1.35cm;
        display: block;
        padding: 1.75rem 1.8rem;
        font-size: 1.5rem;
        font-weight: 600;
    }
}

@media (max-width: 414px) {

    .showcase-info{
        width: 100%;
        margin-right: 5cm;
        margin-left: -1cm;
        margin-top: 1cm;
        font-size: 2.5rem;
    }


    h1.heading-service{
        margin: 0 -.8cm;
        font-size: 3rem;
    }

    a.btn#btn-hire{
        width: 28%;
        margin-left: 7.5cm;
        padding: 1rem 1.75rem;
        font-size: 1.7rem;
    }


    .image-container{
        height: 25vh;
        width: 100%;
        margin-bottom: 2cm;
        margin-top: -3cm;
    }

    .image2{
        margin-left: 25px;
    }

    .mail{
        font-size: 1.85rem;
        font-weight: 400;
    }

    .container-chat{
        display: contents;
    }

    div.contact-chat{
        margin-top: -1cm;
    }

    form.contact-form{
        margin-left: .6cm;
        padding-left: 70px;
        padding-right: 75px;
        margin-bottom: 1cm;
    }
    
}

@media (max-width: 375px){
    div.showcase-info{
        padding-right: 15%;
        margin-top: 2cm;
    }

    section#about.work{
        padding-top: 3cm;
    }


    h1.heading-service{
        margin: 0 -.8cm;
        font-size: 3rem;
    }

    a.btn#btn-hire{
        width: 28%;
        margin-left: 6.5cm;
        padding: 1rem 1.75rem;
        font-size: 1.7rem;
    }

    div.contact-chat{
        margin-top: -1cm;
    }

    form.contact-form .sms{
        padding-left: 0px;
        margin-left: 5px;
    }

    form.contact-form{
        margin-left: .5cm;
        padding-left: 70px;
        padding-right: 65px;
    }

}

@media (max-width: 365px) {
    html{
        font-size: 53%;
    }
    .header{
        padding: 1rem 3%;
    }
    
    #menu{
        font-size: 3.5rem;
    }

    .logo{
        margin-left: .2cm;
        font-size: 2rem;
        font-weight: 500;
    }

    i {
        font-size: 1.4rem;
    }

    /* content */

    .container {
        bottom: 1.75cm;
        right: .5cm;
        margin-bottom: -4cm;
    }

    .text {
        font-weight: 500;
    }
    
    .work{
        top: 3cm;
        margin-bottom: -3cm;
    }

    .work-box{
        padding: 15rem 6rem;
    }

    .work-box .sub-heading{
        margin-left: -1cm;
    }

    .work-box .heading-service{
        margin-left: -1.5cm;
    }

    h3.sub-heading{
        margin-left: 1cm;
    }
    
    .box-desc{
        column-gap: 7rem;
    }

    .btn#btn-hire{
        width: 23%;
        margin-top: 5cm;
        margin-left: 3.2cm;
    }

    
    .image-container .image2{
        height: 60vh;
        margin-right: 1.2cm;
        margin-bottom: -2cm;
        margin-top: 1cm;
    }
    
    .image1 {
        display: none;
    }

    div.contact-chat{
        margin-top: 0;

    }
    form.contact-form{
        margin-left: 0.5cm;
        padding-right: 70px;
        padding-left: 65px;
    }

    .form-input {
        width: 150%;
        margin-left: -1.1cm;
    }

    .btn-work{
        width: 150%;
        margin-left: -1.1cm;;
    }
}

@media (max-width: 320px) {
    body{
        width: 320px;
    }
    .container {
        margin-left: 1.5cm;
        left: 0px;
        bottom: 1.75cm;
        right: 0px;
        margin-bottom: -4cm;
    }

    
    .work{
        top: 3cm;
        margin-bottom: -3cm;
    }

    .work-box{
        padding: 15rem 6rem;
    }

    .work-box .sub-heading{
        margin-left: -1cm;
    }

    .work-box .heading-service{
        margin-left: -1.5cm;
    }

    h3.sub-heading{
        margin-left: 1cm;
    }
    
    .box-desc{
        column-gap: 7rem;
    }
    
    .image2{
        width: 100%;
        margin-left: 2cm;
    }

    form.contact-form{
        margin-left: 0.85cm;
        padding-right: 60px;
        padding-left: 55px;
    }

    .form-input {
        width: 150%;
        margin-left: -1.1cm;
    }

    .btn-work{
        width: 150%;
        margin-left: -1.1cm;;
    }
}

